<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add movie</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Add a new movie</h1>
<a href="/">Go to home page</a>
<form method="POST" action="{{ url_for('add_movie', user_id=user_id) }}">
    <label for="movie_title">Movie title: </label><br>
    <input type="text" id="movie_title" name="movie_title"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
