<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite movies</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>All reviews from all users</h1>
<a href="/">Go to home page</a>
<ul>
    {% for review in reviews %}
    <li class="movie">
        {% for movie in movies %}
            {% if movie.movie_id == review.movie_id %}
        <h2>{{ movie.title }}</h2>
            {% endif %}
        {% endfor %}
        {% for user in users %}
            {% if user.user_id == review.user_id %}
        <p>Written by: {{ user.user_name }}</p>
            {% endif %}
        {% endfor %}
        <p>Rating: {{ review.rating }}</p>
        <p>Review: {{ review.review }}</p>
    </li>
    {% endfor %}
</ul>
</body>
</html>