<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Users</h1>
<a href="/">Go to home page</a>
<ul>
    {% for user in users %}
    <li><a href="/users/{{ user.user_id }}">{{ user.user_name }}</a></li>
    {% endfor %}
</ul>
<p>Don´t see the user you are looking for?</p>
<a href="/add_user">Add new user here</a>
</body>
</html>