<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite movies</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Favorite movies of {{ user_name }}</h1>
<a href="/users/{{ user_id }}/add_movie">Add new movie</a>
<ul>
    {% for movie in user_movies %}
    <li class="movie">
        <h2>{{ movie.title }}</h2>
        <p>Year: {{ movie.year }}</p>
        <p>Director: {{ movie.director }}</p>
        <p>Rating: {{ movie.rating }}</p>
        <a href="/users/{{ user_id }}/update_movie/{{ user_movies.movie_id }}"><button>Update rating</button></a>
        <a href="/users/{{ user_id }}/delete_movie/{{ user_movies.movie_id }}"><button>Delete movie</button></a>
    </li>
    {% endfor %}
</ul>
</body>
</html>